In [1]:
import numpy as np
import pandas as pd

In [2]:
sampled = pd.read_csv('./sampled.csv')

In [3]:
sampled.head()

,Unnamed: 0,shop_id,product_id,price,title,category_id,labels,cat_name
0,0,11121,23184364,135.0,Hello Kitty 小雞-馬克杯,2169,2169,Home & Garden
1,1,9810,28654634,880.0,現貨- 自由剪裁彈性刀割牛仔褲 1948,204,204,Apparel & Accessories
2,2,9913,535895,180.0,【TGOP】群人寶寶襪子（潮流黑）,209,209,Apparel & Accessories
3,3,3714,436288,1380.0,長袖襯衫-183JC1100BLI,1604,1604,Apparel & Accessories
4,4,5050,30486437,764.0,台灣 MOOMU 馬卡龍香草軟積木 40pcs/組 (贈收納袋+角色立體場景紙卡),3617,3617,Toys & Games

In [4]:
pid_to_cid = {}
for row in sampled.values:
    pid, catid = row[2], row[5]
    pid_to_cid[pid] = catid

In [5]:
df0 = pd.read_csv('./big_query_0.csv')
df1 = pd.read_csv('./big_query_1.csv')

/Users/jackson/.pyenv/versions/3.8.3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (13,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/jackson/.pyenv/versions/3.8.3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (13,21,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
idx = df0['id'].append(df1['id'])

In [7]:
len(idx)

826060

In [8]:
l = []
kcount = 0
for i in idx:
    try:
        l.append(pid_to_cid[i])
    except KeyError:
        kcount += 1
        l.append(-1)

In [9]:
kcount

824338

In [10]:
shop_id = df0['shop_id'].append(df1['shop_id'])
handle = df0['handle'].append(df1['handle'])
title = df0['title'].append(df1['title'])
body_html = df0['body_html'].append(df1['body_html'])
p_type = df0['product_type'].append(df1['product_type'])
price = df0['price'].append(df1['price'])

In [11]:
new_df = {'id': idx, 'shop_id': shop_id, 'handle': handle, 'title':title, 'body_html':body_html, 'product_type':p_type, 'price':price, 'labels':l}

In [12]:
new_df = pd.DataFrame(new_df)

In [13]:
import pickle
with open('./labelled.pickle', 'wb') as out:
    pickle.dump(new_df, out)

In [25]:
id_to_id = pd.read_excel('./taxonomy-with-ids.en-US.xls')

In [31]:
cat_to_name = {}
for row in id_to_id.values:
    cat_to_name[row[0]] = row[1]

In [32]:
with open('./cat_to_name.pickle', 'wb') as out:
    pickle.dump(cat_to_name, out)

In [33]:
cat_to_name[4546]

'Home & Garden'

In [37]:
cat_to_name[259]

'Electronics'

In [3]:
import pickle
result = pd.read_csv('./labels.csv')
with open('./cat_to_name.pickle', 'rb') as file:
    cat_to_name = pickle.load(file)

In [4]:
result.head()

,shop_id,product_id,price,title,category_id
0,9472,492703,25.0,玉米粒(普通蓋) Sweet whole krenel corn,6609
1,9472,492704,27.0,玉米粒(易開罐) Sweet whole krenel corn,6609
2,9472,527257,200.0,小資嘗鮮罐頭禮盒(6入/盒),5091
3,9472,527316,240.0,好媽媽熱銷罐頭禮盒(7入/盒),5091
4,9472,492710,65.0,精選鳳梨片(10片) 易開罐 Choice sliced Pineapple in heav...,6670

In [5]:
name = []
for cid in result['category_id']:
    name.append(cat_to_name[cid])

In [6]:
result = {'shop_id':result['shop_id'], 'product_id':result['product_id'], 'price':result['price'], 'title':result['title'], 'category_id':result['category_id'], 'cat_name':name}

In [7]:
result = pd.DataFrame(result)
result.to_csv('./labels_.csv')

In [2]:
label = pd.read_csv('./labels_.csv')

In [9]:
label.head()

,Unnamed: 0,shop_id,product_id,price,title,category_id,cat_name
0,0,9472,492703,25.0,玉米粒(普通蓋) Sweet whole krenel corn,6609,"Food, Beverages & Tobacco"
1,1,9472,492704,27.0,玉米粒(易開罐) Sweet whole krenel corn,6609,"Food, Beverages & Tobacco"
2,2,9472,527257,200.0,小資嘗鮮罐頭禮盒(6入/盒),6609,"Food, Beverages & Tobacco"
3,3,9472,527316,240.0,好媽媽熱銷罐頭禮盒(7入/盒),6609,"Food, Beverages & Tobacco"
4,4,9472,492710,65.0,精選鳳梨片(10片) 易開罐 Choice sliced Pineapple in heav...,6670,"Food, Beverages & Tobacco"

In [3]:
id_to_id = pd.read_excel('./taxonomy-with-ids.en-US.xls')

In [4]:
categories = []
for sec_col in id_to_id['Animals & Pet Supplies']:
    categories.append(sec_col)

In [5]:
categories = set(categories)

In [6]:
cat_count = dict([(cat_name, 100) for cat_name in categories])

In [7]:
sample = []
for row in label.values:
    temp = []
    if cat_count[row[6]] > 0:
        temp.append(row[0])
        temp.append(row[1])
        temp.append(row[2])
        temp.append(row[3])
        temp.append(row[4])
        temp.append(row[5])
        temp.append(row[6])
        cat_count[row[6]] -= 1
        sample.append(temp)

In [8]:
sample = pd.DataFrame(sample, columns = ['Unnamed', 'shop_id', 'product_id', 'price', 'title', 'category_id', 'cat_name'])

In [9]:
sample.to_csv('./sampled.csv')

In [10]:
len(sample)

1641